* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background: #DDD;
    min-height: 100vh;
}

main {
    flex: 1 1 auto;
}

/* this makes the footer sicky */

header, main, footer {
    padding: 1.5em 2em;
    border: 1px solid black;
}



