:root {
  --color-dark: rgb(6, 33, 114);
  --color-light-1: rgb(83, 218, 83);
  --color-light-2: rgb(44, 165, 181);
  --color-light-3: rgb(245, 5, 129);
  --color-selected: #fff4e6;
  --color-selected-dark: #f1e0cf;
  --color-light-4: #ffe8cc;
  --color-light-5: #ffa94d;
  --color-adopt: rgb(174, 5, 174);
}

.green {
  background-color: var(--color-light-1);
}

.blue {
  background-color: var(--color-light-2);
}

.pink {
  background-color: var(--color-light-3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  height: 100vh;
  color: #495057;
  max-width: 900px;
}

.app {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  margin: 2em 2em;
  gap: 2em;
}

.shelter-cats {
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
  flex-wrap: wrap;
}

.selected {
  background-color: var(--color-selected);
  border-radius: 3em;
}

.manage-cat {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  background-color: var(--color-selected-dark);
  border-radius: 3em;
  align-self: flex-start;
  padding: 1em;
}

.manage-cat h3 {
  align-self: center;
}

.shelter-stats {
  margin-top: 1em;
  text-align: center;
}

.all-adopted {
  margin-top: 1em;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.shelter-cats h3 {
  text-align: center;
  margin-bottom: 1em;
}

.cat {
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.cat-img {
  display: flex;
  flex-basis: 15%;
  max-height: 100px;
  justify-items: center;
  align-items: flex-start;
  overflow: hidden;
  border-radius: 1em;
}

.cat-img img {
  width: 100%;
  height: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cat-info {
  flex-basis: 50%;
  text-align: center;
}

.add-cat {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 0.5em;
  background-color: #cdcecf;
  padding: 1em 1.5em;
  border-radius: 1em;
}

.add-cat label {
  font-weight: bold;
}

.add-cat input[type="text"] {
  height: 2em;
  border: 1px solid #ccc;
}

.manage-1,
.manage-2 {
  display: flex;
  justify-content: flex-start;
  gap: 1em;
  align-content: center;
}

.button {
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  color: #fff;
  border-radius: 1em;
  padding: 0.8em 1.2em;
}

.button:hover:not(.no-hover) {
  background-color: var(--color-dark);
}

.no-hover {
  pointer-events: none;
}

.button.feed {
  background-color: var(--color-light-1);
}

.button.add-close,
.button.add-cat {
  align-self: center;
  margin-top: 0.7em;
}

.button.adopt {
  background-color: var(--color-adopt);
}
