{% extends 'common/base.html' %}
{% load custom_filters %}
{% load static %}

{% block content %}

      <section id="detailsPage">
        <div class="wrapper">
          <div class="profilePage">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4kXpwIHWry44OlFN0RZ3DxKvn1sUo-1hqyg&s"
              alt="Profile Image"
            />
          </div>

          <div class="profileText">

            <h1>Username: {{ profile.username|titlecase }}</h1>
            <h1>Email: {{ profile.email }}</h1>
              {% if profile.age %}
                <h1>Age: {{ profile.age }} %}</h1>
              {% endif %}
            <h1>Albums: {{ profile.albums.all|length }}</h1>
          </div>

          <div class="actionBtn">
            <a href="{% url 'profile-delete' %}" class="remove">Delete</a>
          </div>
        </div>
      </section>

{% endblock %}