html {
    font: 16px/1.5 Georgia, 'Times New Roman', Times, serif;
}

h1, h2:not(.logo h2), h3, h4, h5, h6, p {
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1.5em;
}

.logo h2 {
    color: rgb(130, 12, 240);
}

.logo p {
    text-transform: uppercase;
}