{% extends 'common/base.html' %}
{% load custom_filters %}
{% load static %}

{% block content %}

      <section id="detailsPage">
        <div class="wrapper">
          <div class="albumCover">
            <img src="{{ album.image_url }}" alt="Cover Image" />
          </div>

          <div class="albumInfo">
            <div class="albumText">

              <h1>Name: {{ album.album_name|titlecase }}</h1>
              <h3>Artist: {{ album.artist|titlecase }}</h3>
              <h4>Genre: {{ album.genre|titlecase }}</h4>
              <h4>Price: ${{ album.price }}</h4>
                {% if album.description %}
                  <p>
                    {{ album.description }}
                  </p>
                {% endif %}
            </div>

            <div class="actionBtn">
              <a href="{% url 'album-edit' album.pk %}" class="edit">Edit</a>
              <a href="{% url 'album-delete' album.pk %}" class="remove">Delete</a>
            </div>
          </div>
        </div>
      </section>
{% endblock %}
