body {
    max-width: 1920px;
}

.site-content {   
    margin: 0.5em auto;
}

.outer {
    padding: 0 7em;
}

.site-nav {
    padding: 0.75em 3em 0.75em 6.5em;
    font-weight: bold;
    font-size: 1em;
}

.section-container-row {
    display: flex;
}

.site-banner.outer,
.purpose.outer {
    background-color: #85DCFF;
}

.site-banner.outer {
    padding-top: 3em;
    padding-bottom: 3em;
}

.site-banner.inner {
    display: flex;
    justify-content: space-between;
    padding-left: 16em;
    align-items: center;   
}

.site-banner.inner .content {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.activities.inner {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    text-align: center;
    margin: 1em 3em 4em 3em;
}
.activities.inner .header {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.activities.inner .header h3 {
    max-width: 80%;
}
.activities.inner .header h2 {
    margin-bottom: 1em;
}

.activities.inner .section-container-row {
    justify-content: space-between;
    gap: 6em;
    margin-top: 1em;
}

.activities.inner .section-container-row .section {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.activities.inner .section-container-row .section span {
    display: none;
}

.activities.inner .section-container-row .section .fa-solid {
    color: #85DCFF;
    font-size: 5em;
}

.purpose.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4em;
    margin-top: 4em;
    margin-bottom: 3.5em;
}

.purpose.inner .work-container {
    max-width: 60%;
    display: flex;
    justify-content: center;
    gap: 1em;
    font-size: 1.5em;
}

.purpose.inner .work-container > * {
    flex-basis: 50%
}
.purpose.inner .work-container ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
}

.purpose.inner .work-container li {
    list-style: none;
}

.animals.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2em;
    margin: 3em 0 4em 0;
}

.animals.inner .header h2 {
    font-size: 2em;
    margin-bottom: 0.75em;
}

.animals.inner .section-container-row {
    gap: 2.5em;
}

.work.outer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    max-width: 70%;
    margin: 2em 0 3em 0;
}

.work.inner .activities {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2em;
}

.work.inner .activities .section {
    border: 1px solid rgb(209, 208, 208);
    border-radius: 0.5em;
}

.work.inner .activities .section > * {
    padding: 1em;
}

.work.inner .activities .section h3 {
    background-color: #85DCFF;
}

.work.inner .activities .section p {
    font-weight: bold;
}

.conclusion.outer {
    display: flex;
    padding-left: 0;
    gap: 2em;
    margin-top: 2em;
}

.conclusion.outer .media {
    flex-basis: 60%;
}

.conclusion.inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2em;   
}

.footer.outer {
    padding-top: 2em;
    padding-bottom: 2em;
}
.footer.inner {
    display: flex;
    justify-content: space-between;
}

.footer.inner .social ul {
    display: flex;
    gap: 1em;
}

.footer.inner .social ul li,
.footer.inner .social ul a {
    display: block;
}

.footer.inner .social span {
    display: none;
}