{% extends 'common/base.html' %}
{% load custom_filters %}
{% load static %}

{% block content %}
    
        {% if fruits %}
            <h2>Fruits</h2>
            {% for fruit in fruits %}
                <section id="dashboard">
                        <div class="fruit">
                        <img src="{{ fruit.image_url }}" alt="example1"/>
                        <h3 class="title">{{ fruit.fruit_name|titlecase }}</h3>
                        <p class="description">{{ fruit.description }}</p>
                        <a class="details-btn" href="{% url 'fruit-details' fruit.pk %}">More Info</a>
                    </div>
                    {% empty %}
                        
                </section>
            {% endfor %}
        {% else %}
            <h2>No fruit info yet.</h2>z
        {% endif %}
{% endblock %}