nav ul {
    display: flex;
}

nav ul li,
nav ul a {
    display: block;
}

.social ul {
    gap: 1em;
}

.social span {
    display: none;
}

.site-nav {
    align-self: flex-end;
    padding-top: 1.1rem;
    margin-bottom: 4.5rem;
}

.site-nav ul {
    gap: 3rem;
}