@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap);

html {
    font: 18px/1.5 'Inter';
}


h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2em;
}