@import url(https://fonts.googleapis.com/css?family=PT+Serif);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);

html {
    font: 16px/1.5 'PT Serif', serif;
}

p { font-family: 'PT Sans', serif;}

a {
    text-decoration: none;
    text-transform: capitalize;
}

h1 span { font-size: 2em;}

h2 { font-size: 1.75em;}

