{% extends 'posts/../common/base.html' %}
{% load markdown_extras %}


{% block content %}
    
    
    {% include 'posts/search-form.html' with text='Search in ' %}
        
        <div class="posts">
            {% for post in posts %}
                <a id="post-url" href="{% url 'details-post' post.pk%}">

                    <div class="post">

                    <h2>{{ post.title|capfirst }}</h2>
                    {% if perms.posts.can_approve_posts and not post.approved %}
                        <a href="{% url 'approve' post.pk %}">
                        <i class="ai-check"></i>
                        </a>
                    {% endif %}

                    {% if not post.content %}
                        {% lorem 3 p %}
                    {% else %}
                        {{ post.content|markdown:'This is the param' }}
                    {% endif %}

                    <div class="post-meta">
                        <span>Posted by {{ post.author|default:'anonymous' }} on {{ post.created_at|date:'d-M-Y' }}</span>
                    </div>
                </div>
                </a>

            {% empty %}
                <h1>No Posts</h1>
            {% endfor %}
        
            {% if page_obj.paginator.count > posts_per_page %}
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
             </div>
            {% else %}
                <p>That's the only page</p>
            {% endif %}
        
        </div>
    
    


{% endblock %}

