{% extends 'posts/common/base.html' %}
{% load markdown_extras %}

{% block content %}
<body>
{#    {% include 'posts/common/nav.html' %}#}
    <div class="container">
    
    {% include 'posts/search-form.html' with text='Search in ' %}
        
        <div class="posts">
            {% for post in posts %}
                <a id="post-url" href="{% url 'details-post' post.pk%}">

                    <div class="post">

                    <h2>{{ post.title|capfirst }}</h2>

                    {% if not post.content %}
                        {% lorem 3 p %}
                    {% else %}
{#                        {{ post.content|markdown }}#}
{#                        Below we set the my_param parameter that the custom filter takes#}
{#                        {{ value|filter:argument }} value is arg1 and arg is arg2 in markdown_format(text, my_param)#}
                        {{ post.content|markdown:'This is the param' }}
                    {% endif %}

                    <div class="post-meta">
                        <span>Posted by {{ post.author|default:'anonymous' }} on {{ post.created_at|date:'d-M-Y' }}</span>
                    </div>
                </div>
                </a>

            {% empty %}
                <h1>No Posts</h1>
            {% endfor %}
        </div>
    </div>
</body>

{% endblock %}